services:
  mariadb:
    build:
      context: .
      dockerfile: Dockerfile.mariadb
    container_name: smart_traffic_mariadb
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: smart_traffic
      MYSQL_USER: traffic_user
      MYSQL_PASSWORD: traffic_password
    ports:
      - '3306:3306'
    volumes:
      - mariadb_data:/var/lib/mysql
    networks:
      - smart_traffic_network
    healthcheck:
      test:
        [
          'CMD',
          'mysqladmin',
          'ping',
          '-h',
          'localhost',
          '-uroot',
          '-prootpassword',
        ]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 30s

  mosquitto:
    image: eclipse-mosquitto
    container_name: mosquitto
    ports:
      - '1883:1883'
      - '9001:9001'
    volumes:
      - ./config:/mosquitto/config
      - ./data:/mosquitto/data
      - ./log:/mosquitto/log
    networks:
      - smart_traffic_network

  api:
    build:
      context: ..
      dockerfile: docker/Dockerfile.api
    container_name: smart_traffic_api
    working_dir: /app
    ports:
      - '5010:5010'
      - '5678:5678'
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - DOTNET_WATCH_RESTART_ON_RUDE_EDIT=1
      - ConnectionStrings__DefaultConnection=Server=mariadb;Port=3306;Database=smart_traffic;User=traffic_user;Password=traffic_password;CharSet=utf8mb4;
    networks:
      - smart_traffic_network
    restart: unless-stopped
    depends_on:
      - mariadb
      - mosquitto

  # frontend:
  #   build:
  #     context: ../frontend/SmartTraficControlSystem
  #     dockerfile: ../../docker/Dockerfile.frontend
  #   container_name: smart_traffic_frontend
  #   working_dir: /app
  #   volumes:
  #     - ../frontend/SmartTraficControlSystem:/app:cached
  #   ports:
  #     - '5212:5212'
  #     - '5679:5678'
  #   environment:
  #     - ASPNETCORE_ENVIRONMENT=Development
  #     - DOTNET_WATCH_RESTART_ON_RUDE_EDIT=1
  #   networks:
  #     - smart_traffic_network
  #   restart: unless-stopped

  nginx:
    image: nginx
    ports:
      - '80:80'
      - '443:443'
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    restart: unless-stopped
    networks:
      - smart_traffic_network

volumes:
  mariadb_data:
    driver: local

networks:
  smart_traffic_network:
    driver: bridge
    ipam:
      config:
        - subnet: 172.20.0.0/16
